*{
    margin: 0%;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: #833AB4;

    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color:white;
    position: relative;

}
.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: blue; */
}
.clock{
    width: 100%;
    height: 100%;
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
display: flex;
align-items: center;
justify-content: center;
/* backdrop-filter: blur(40px); */

    /* background: rgba(235,0,255,0.11); */
}
/* .container::before{
    content:'';
    width: 180px;
    height: 180px;
    background-color:yellow;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
} */

/* .container::after{
    content:'';
    width: 180px;
    height: 180px;
    background-color:green;
    border-radius: 50%;

    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
} */
.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;

}
.clock span::after{
    
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
}
#sec::after{
    content: 'SEC';
}
/* media queries */


@media only screen and (max-width:805px) {
    .container{
        width: auto;
        height: auto;
    }
    .hero{
        width: auto;
        height: auto;
    }
}

